<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <h1>Processo Historico</h1>
      <p>
        Racismo é o preconceito e discriminação direcionados a quem possui uma
        raça ou etnia diferente, define o dicionário. No Brasil, essa palavra
        ganhou forma e cor com a chegada de cerca de 5 milhões de africanos,
        traficados pelos portugueses entre os séculos 16 e 19. Para entender a
        atual configuração social brasileira, e principalmente, o racismo,
        sociólogos e historiadores recorrem ao nosso passado.
      </p>
      <p>
        Um período muito importante nesse processo de desenvolvimento, segundo o
        professor de história da África da Universidade Federal de Minas Gerais
        (UFMG) Alexandre Almeida Marcussi, de 34 anos, foram as três décadas que
        sucederam a abolição da escravidão. “Esse período é possível observar o
        que ocorreu com a população ex-escrava da área urbana e rural. A falta
        de ações públicas para integrar esses trabalhadores à sociedade foram
        determinantes na história de marginalização que se segue”, conta.
      </p>
      <p>
        O historiador defende a tese de que o povo negro foi intencionalmente
        excluído da sociedade dominada por brancos. “O incentivo às imigrações
        europeias, os projetos de ‘branqueamento’ da população, a promoção do
        racismo como ideologia, a exclusão das populações negras do acesso à
        terra e o baixo nível de investimento em educação para essas pessoas
        agiram como fatores que continuaram produzindo e reproduzindo a
        marginalidade das populações negras no Brasil”, argumenta.
      </p>
      <h4>Diferenças históricas</h4>
      <p>
        A abolição só trouxe a liberdade jurídica, socialmente, os ex-escravos e
        seus descendentes permaneceram inferiorizados, segundo Marcussi. “Por
        mais que tenha havido a conquista da liberdade jurídica e relativa
        mobilidade social ascendente para alguns africanos e seus descendentes,
        é inegável que eles, como um todo, sempre ocuparam os lugares mais
        baixos da hierarquia social brasileira, em relação aos portugueses e
        seus descendentes radicados no Brasil”, afirma o historiador.
      </p>
      <p>
        Passados 130 anos da abolição, a população preta continua ocupando a
        base da pirâmide social no Brasil. O número de negros entre a parcela
        mais pobre do país é de 76%, segundo dados da Pesquisa Nacional por
        Amostra de Domicílios (PNAD) de 2014, feita pelo Instituto Brasileiro de
        Geografia e Estatística (IBGE). A discriminação no mercado de trabalho
        também é escancarada. Enquanto a média de rendimento mensal do
        profissional branco é de R$ 2.697, a do trabalhador preto é de mensal R$
        1.526, aponta a PNAD.
      </p>
    </div>

    <div class="col-md-6" id="img-bg"></div>
  </div>
</div>
