<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-md-6 mt-5 text-center">
      <h1>
        A luta contra o racismo no Brasil é uma luta de refundação nacional
      </h1>
      <h5>
        " Quando não souberes para onde ir, olha para trás e saiba pelo menos de onde vens (Provérbio africano)"
      </h5>
      <p class="text-justify mt-3">
        É antigo o preconceito contra outros povos e outras culturas. Podemos
        ter como exemplo a Roma Antiga, em que eram tratados como bárbaros todos
        os povos além das fronteiras do seu Império, fossem estes brancos ou
        não-brancos. Diante disso, cabe a pergunta: qual a especificidade do
        racismo? A qual racismo nos referimos? O racismo e a escravidão não são
        categorias universais - o que significa dizer que em determinados
        contextos históricos e temporais eles adquiriram características
        específicas, não podendo, assim, serem explicadas de maneira genérica. O
        racismo e a escravidão são, portanto, historicamente determinados. Mesmo
        o conceito de raça, cujo significado já teve uma fundamentação
        supostamente científica, ancorada nas ciências naturais, é, na
        atualidade, majoritariamente identificado como um conceito eminentemente
        histórico e político.
      </p>
      <p class="text-justify mt-3">
        O Dia da Consciência Negra é um dia de tomada de consciência do que foi
        e do que é o Brasil, do que somos enquanto povo brasileiro e das tarefas
        nacionais, democráticas e populares, sem as quais não podemos falar
        seriamente em emancipação.
      </p>
    </div>
    <div class="col-md-6 mt-5 d-flex justify-content-end">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/cOItiKLtaJM"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="col-md-12 mt-5 text-center">
      <h1>Luta Contra Racismo</h1>
      <h5>
        " Nascer negro é consequência, ser negro é consciência (Zumbi dos
        Palmares) "
      </h5>
      <p class="text-justify mt-3">
        Afinal, o Brasil é ou não é um país racista? Apesar da pergunta, são
        muitas as evidências sobre a discriminação racial no nosso país. Os
        negros ganham menos dos que os brancos para exercerem a mesma função. Os
        negros e negras são maioria nos empregos menos reconhecidos socialmente,
        mais precarizados e que pagam menos. As empregadas domésticas, na sua
        grande maioria, são mulheres negras e trabalham sem registro e sem
        direitos. Da mesma forma, a maioria dos entregadores por aplicativos são
        jovens e negros, assim como predominam trabalhadores negros na
        construção civil e nos serviços de limpeza.
      </p>
      <p class="text-justify mt-3">
        O combate ao racismo é um problema da sociedade e não só dos negros.
        Dizer que não é racista não basta. É preciso ser antirracista, isto é,
        lutar contra o racismo cotidianamente em todas as suas trincheiras. Onde
        houver racismo não haverá democracia de fato. Nesse sentido, a luta
        contra o fascismo e contra o racismo é uma luta fundamental que
        certamente dará um sentido mais profundo à nossa democracia.
      </p>
    </div>
  </div>
</div>
